<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Pharmacie</title>
</head>

<body>
    <div class="grid-container">

        <form class="c1" action="POST">
            <button type="submit" style="background-color: transparent; border: none">
                <img src="../static/svg/1.svg" />
                </button>
        </form>
        <form class="c2" action="POST">
            <button type="submit" style="background-color: transparent; border: none">
                <img src="../static/svg/2.svg" />
                </button>
        </form>



        <form class="c3" action="POST">
            <button type="submit" style="background-color: transparent; border: none">
                <img src="../static/svg/3.svg" />
                </button>
        </form>
        <form class="c4" action="POST">
            <button type="submit" style="background-color: transparent; border: none">
                <img src="../static/svg/4.svg" />
                </button>
        </form>
        <form class="c5" action="POST">
            <button type="submit" style="background-color: transparent; border: none">
                <img src="../static/svg/5.svg" />
                </button>
        </form>

        <a href="stats.html">admin</a>


    </div>


</body>

</html>