.grid-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}

.Merci {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: rgb(243, 136, 60);
    text-shadow: black;
}

body,
html {
    margin: 0;
    padding: 0;
}

form {
    align-items: center;
    align-content: center;
}

.c1 {
    position: relative;
    margin-top: 25%;
    height: 100%;
    padding-right: 3%;
}

.c2 {
    position: relative;
    margin-top: 10%;
    height: 100%;
    padding-right: 5%;
}

.c3 {
    margin: 0 3%;
    position: relative;
    margin-top: 3%;
    height: 100%;
}

.c4 {
    position: relative;
    margin-top: 10%;
    height: 100%;
    padding-left: 5%;
}

.c5 {
    position: relative;
    margin-top: 25%;
    height: 100%;
    padding-left: 3%;
}