.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.8fr 0.7fr 0.8fr 1.7fr;
    gap: 1px 1px;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
    align-items: center;
    align-content: center;
    margin-left: 5%;
    margin-top: 10%;
}

@media all and (-ms-high-contrast:none) {
    .grid-container {
        display: -ms-grid;
        -ms-grid-columns: repeat(5, 1fr);
        -ms-grid-rows: 0.8fr 0.7fr 0.8fr 1.7fr;
    }
}

form {
    align-items: center;
    align-content: center;
}

.c1 {
    position: relative;
    grid-column: 1;
    grid-row: 3;
}

.c2 {
    position: relative;
    grid-column: 2;
    grid-row: 2;
}

.c3 {
    position: relative;
    grid-column: 3;
    grid-row: 1;
}

.c4 {
    position: relative;
    grid-column: 4;
    grid-row: 2;
}

.c5 {
    position: relative;
    grid-column: 5;
    grid-row: 3;
}